{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static "stylesheet/all_accounts.css" %}">
{% endblock %}

{% block content %}
{#    {% for name in search_result %}#}
{#        {{ name.date_joined.year }}#}
{#    {% endfor %}#}
    {{ auth_error }}

    {% if request.user.is_authenticated %}
        <form id="search_form" method="POST">
            {% csrf_token %}
            <table id="dtBasicExample" class="table table-hover table-dark paginated">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <div class="input-group mb-1">
                            {% render_field search_form.first_name class="form-control" placeholder="Name" %}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="input-group mb-1">
                            {% render_field search_form.last_name class="form-control" placeholder="Surname" %}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="input-group mb-1">
                            {% render_field search_form.position class="custom-select" id="inputGroupSelect02" %}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="input-group mb-1">
                            {% render_field search_form.year class="custom-select" id="inputGroupSelect02" %}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="input-group mb-1">
                            {% render_field search_form.salary_min class="form-control" placeholder="min" %}
                            {% render_field search_form.salary_max class="form-control" placeholder="max" %}
                        </div>
                    </th>
                </tr>
                </thead>
                <thead class="thead-arrows__sort">
                <tr>
                    <th scope="col"><span class="arrow">id <span class="arrows" data-sort="id">&#11015; &#11014;</span></span>
                    </th>
                    <th scope="col"><span class="arrow">Name <span class="arrows" data-sort="first_name">&#11015; &#11014;</span></span>
                    </th>
                    <th scope="col"><span class="arrow">Surname <span class="arrows" data-sort="last_name">&#11015; &#11014;</span></span>
                    </th>
                    <th scope="col"><span class="arrow">Position <span class="arrows" data-sort="position">&#11015; &#11014;</span></span>
                    </th>
                    <th scope="col"><span class="arrow">Date joined  <span class="arrows" data-sort="date_joined">&#11015; &#11014;</span></span>
                    </th>
                    <th scope="col"><span class="arrow">Salary <span class="arrows"
                                                                     data-sort="salary">&#11015; &#11014;</span></span>
                    </th>
                    <th scope="col"><span class="arrow">Photo</span>
                    </th>
                </tr>
                </thead>

                <tbody id="my_tbody"></tbody>
                <script id="js_template" type="x-tmpl-mustache">
                    {% verbatim %}
                        {{#data}}
                            <tr>
                                <th>{{id}}</th>
                                <td>{{first_name}}</td>
                                <td>{{last_name}}</td>
                                <td>{{position}}</td>
                                <td>{{date_joined}}</td>
                                <td>{{salary}}</td>
                                <<td><img src="media/{{photo}}" alt="" height="25"></td></td>
                            </tr>
                        {{/data}}
                    {% endverbatim %}
                </script>
            </table>
            <script id="pagination_template" type="x-tmpl-mustache">
                {% verbatim %}
                    <nav aria-label="...">
                        <ul class="pagination">
                    {{#data}}
                                <li class="page-item my_pagination_btn" data-page="{{page}}">
                                    <span class="page-link">{{name}}</span>
                                </li>
                    {{/data}}
                        </ul>
                    </nav>
                {% endverbatim %}
            </script>
            <div id="pagination"></div>

        </form>
    {% else %}
        <br>
        <a class="nav_link" href="{% url 'registration' %}">Registrate</a>
        <br>
        <a class="nav_link" href="{% url 'login' %}">Sign In</a>

    {% endif %}


{% endblock %}

{% block js %}
        <script src="{% static "javascript/all_accounts.js" %}"></script>
{#        <script src="{% static "javascript/pagination.js" %}"></script>#}
        <script src="{% static "javascript/mustache.min.js" %}"></script>
{#        <script src="{% static "javascript/jquery-paginate.min.js" %}"></script>#}
{#        <script src="{% static "javascript/mustache.js" %}"></script>#}
{#        <script src="https://raw.githubusercontent.com/janl/mustache.js/master/mustache.js"></script>#}
{% endblock %}