{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "stylesheet/home.css" %}">
{% endblock %}

{% block content %}

<form id="home_page" method="POST">
    {% csrf_token %}
    <div id="tree"></div>

    <script id="js_template" type="x-tmpl-mustache">
        {% verbatim %}
            {{#tree}}
                <span class="{{ level }} tree_element" data-id="{{id}}">{{username}}</span><br>
            {{/tree}}
        {% endverbatim %}
    </script>
</form>

{% endblock %}

{% block js %}
        <script src="{% static "javascript/home.js" %}"></script>
        <script src="{% static "javascript/mustache.min.js" %}"></script>
{% endblock %}