<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>{{ account.first_name }} {{ account.last_name }}</div>
    <div>Position: {{ account.position }}</div>
    <div>Date joined: {{ account.date_joined }}</div>
    <div>Salary: {{ account.salary }}</div>
    <br>
    <div>
        {% if children %}
            subordinates: <br>
            <br>
            {% for child in children %}
                <a href="{% url 'single_account' account_id=child.id %}">{{ child.first_name }} {{ child.last_name }}</a> <br>
            {% endfor %}
        {% endif %}



    </div>

</body>
</html>